@model Droomspel.Web.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        leuke tekst hier
        @Model.GetUserName()
    </div>

</div>